
#header{
    text-align: center;
    font-size: 1.5rem;
}

#process_wrapper{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
#output_i{
    width: 50%;
    height: 50%;
}

#download_a{
    background-color: black;
    border-radius: 16px;
    padding: 10px;
    margin: 20px auto;
    text-decoration: none;
    color: white;
}
#img_wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
td{
    max-width:300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#tab_info{
    margin-top: 1em;
}